spring.application.name=soundly

# Configuración de base de datos (Nota: usa tus propios datos locales)
spring.datasource.url=jdbc:mysql://localhost:3306/soundly_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&rewriteBatchedStatements=true
spring.datasource.username=root
spring.datasource.password=ides

# El Driver de comunicación
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# Configuración JPA / Hibernate
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect

# Batch Insert
spring.jpa.properties.hibernate.jdbc.batch_size=50
spring.jpa.properties.hibernate.order_inserts=true
spring.jpa.properties.hibernate.order_updates=true

# Logging
logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE

# Configuración crítica
spring.jpa.open-in-view=false
spring.datasource.hikari.connection-timeout=10000
spring.datasource.hikari.maximum-pool-size=15
spring.datasource.hikari.idle-timeout=600000
spring.datasource.hikari.max-lifetime=1800000
spring.main.allow-circular-references=true

# ===================================================================
# CONFIGURACIÓN JAVAMAILSENDER — Recuperación de contraseña
# ===================================================================
spring.mail.host=smtp.gmail.com
spring.mail.port=587
# RELLENAR CON TUS DATOS:
spring.mail.username=tu-correo@gmail.com
spring.mail.password=tu-password-de-aplicacion-aqui

# Protocolos requeridos por Gmail SMTP
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true
spring.mail.properties.mail.smtp.connectiontimeout=5000
spring.mail.properties.mail.smtp.timeout=5000
spring.mail.properties.mail.smtp.writetimeout=5000

# URL FRONTEND
app.frontend.url=http://127.0.0.1:5500